.body{
  padding-top: 15%;
  padding-top: 25%;
  background-color: #f5f5f5;
}


.button button mat-icon{
  font-size: 50px;
  width: 50px;
  color: rgb(246, 246, 246);
} 

.login {
  text-align: center;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: linear-gradient(to top, #e3e0ddfb 0%, #231c0988 100%);

}


 
.login img {
  width: 50%;
}


.ancho {
  width: 80%;
}


.boton{
  height: 50px;
  background-color: rgb(24, 20, 8);
  color: white;
}

.spinner{
  margin: 0 auto;
}