<div class="container">

  <div class="button">
    <button  mat-icon-button routerLink="/login">
      <mat-icon class="gg" matTooltip="Volver">arrow_back</mat-icon>
    </button>
  </div>

  <div class="login">
     <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>

      <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
          <img src="./assets/img/user.png" alt="imagen de usuario">
        
          <h1>Bienvenido por favor ingrese los datos</h1>
        <mat-form-field class="ancho" appearance="standard">
          <mat-label>Usuario</mat-label>
          <input 
          matInput
          formControlName="usuario"
          (keyup)="compararPass($event.target)"
          >
        </mat-form-field>
        <mat-form-field class="ancho" appearance="standard">
          <mat-label>Contraseña</mat-label>
          <input 
          type="password"
          formControlName="password"
          matInput
          (keyup)="compararPass($event.target)"
          >
        </mat-form-field>

        <mat-form-field class="ancho" appearance="standard">
          <mat-label>Confirmar Contraseña</mat-label>
          <input 
          type="password"
          formControlName="confirmpass"
          matInput
          (keyup)="compararPass($event.target)"
          >
        </mat-form-field>

        <br>
          <button 
          class="ancho boton" 
          mat-raised-button 
          color="primary"
          type="submit"
          [disabled]="(this.form.invalid || this.form.valid)  && button  "
          >Ingresar</button>
          
      </form>
  </div>
  
</div>
