.example-card {
  max-width: 100%;
  max-height: 100%; 
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 7px;
  color: black;
  background: linear-gradient(to top, #d3d3d3fb 0%, #fffefca9 100%);
}

mat-card-subtitle{
  color: rgb(66, 64, 64);
}

.foro-vacio {
  background: url("/src/assets/img/empleado-de-oficina.png");
}

.example-header-image {
  background-image: url('/src/assets/img/user.png');
  background-size: cover;
}

.example-card .hora{
  left: 2px;
  width: 10%;
}

.acciones{
  border-top: 1px solid rgb(160, 160, 160);
  height: 27px;
}

.acciones .izq{
  float: right;
}