

.login-back{
  background: url('/src/assets/img/cafee.jpg');
  background-size: cover;
}


p{
  color: red;
}

.login { 
  padding: 10px;
  text-align: center;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to top, #e3e0ddfb 0%, #231c0988 100%);
}


 
.login img {
  width: 50%;
}


.ancho {
  width: 80%;
}


.boton{
  height: 50px;
  background-color: rgb(24, 20, 8);
  color: white;
}

.button button {
  
}

.button button mat-icon{
  font-size: 50px;
  width: 50px;
  color: rgb(251, 248, 246);
} 

.spinner{
  margin: 0 auto;
}