table {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Fredoka One', cursive;
  border: 20%;
  background: linear-gradient(to top, #110901fb 0%, #272626a9 100%);
}

mat-paginator {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 30px;
  background: linear-gradient(to top, #110901fb 0%, #272626a9 100%);
  color: white;
}

/* .search{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
} */


.container_list{
  margin: 0 auto;
  /* background: linear-gradient(to top, #110901fb 0%, #272626a9 100%); */
  background: linear-gradient(to top, #d3d3d3fb 0%, #fffefca9 100%);
  /* padding-bottom: 30px; */
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 4px;
}

.btn-agregar{
  background-color: rgb(85, 150, 207);
}

th ,td{
  width: 9%;
  color: white;
}


.col-1{
  width: 4%;
}

.acciones{
  width: 3%;
}

.alineacion {
  text-align: left;
}

.pointer {
  cursor: pointer;
}


.icono-1 {
  color: #1878b0;
}

.icono-2 {
  color: #1f516f;
}

.icono-3 {
  color: #e15639;
}

mat-form-field {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 5%;
  
}


.example-spacer {
  flex: 1 1 auto;
}

